body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 13px;
	user-select: none;
}
a {
	color: #000000;
	outline: none;
}
a:focus, a:hover, a:link, a:visited, a:active {
	outline: none;
}
button::-moz-focus-inner {
  border: 0;
}